@import url("https://use.typekit.net/bxe4eqh.css");
h1,h2,h3,h4,h5,h6,body
{
  font-family: "Helvetica";
  color: #444444;
}

p{
    font-family: "Helvetica";
    color: #717171;
}

#heading {
 font-weight: bold;
  color: #444444;
}

.container { 
    font-family:"Helvetica";
}

.navbar{
  text-align: center;
  color: #FFFFFF;
  background-color: #FFFFFF;
}

.nav.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#navImage {
  align-content: left;
  text-align: left;
}
